# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Databases
*.db

# Directories
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
/escape_the_room/Content/StarterContent/Textures
/escape_the_room/Content/StarterContent/HDRI


/escape_the_room/escape_the_room.VC.VC.opendb
